.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#me-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.me {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid black;
}

@media only screen and (min-width: 768px) {
  .me {
    width: 450px;
    height: 240px;
  }
  
  .about {
    text-align: left;
  }
}