body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #d8e6ad;

  /* https://cssgradient.io/ */
  /* background: rgb(216,230,173);
  background: linear-gradient(121deg, rgba(216,230,173,1) 0%, rgba(216,230,173,1) 39%, rgba(8,195,121,1) 100%); 
   */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  /* Need to set viewport height calc to adjust header height size */
  height: 13vh;
  padding: 1vh;
  border-bottom: 0.1em solid black;
  margin: 1%;
  background-color: #e6bbad;
  border-radius: 5px;
}

.header-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  transition: 0.2s all ease-in-out;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 10px;
  padding-bottom: 30px;
}

.header-item > p {
  font-size: 20px;
  margin-top: 20px;
  opacity: 0;
}

.header-text {
  padding-top: 30px;
}

.header-item:hover {
  background-color: #add8e6;
  transition: 0.2s all ease-in-out;
  transform: scale(1.1);
  /* https://css-tricks.com/almanac/properties/b/box-shadow/ */
  box-shadow: 0 10px 6px -6px #777;
}

.header-item:hover > p {
  opacity: 1;
  transition: 0.5s;
  /* text-shadow: 1px 1px 2px #677;  */

}

.header-item:hover > fa {
  transform: scale(1.2);
}

.header-item:hover > grow {
  transform: scale(2)
}

.header-item:hover > icon {
  transform: scale(2.5)
}

.icon:hover {
  size: 3x;
}


.icon {
  margin-bottom: 30px;
}

/* .icon:hover {
  transition: 0.2s ease-in-out;
  transform: scale(2);
} */