body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  /* Need to set viewport height calc to adjust header height size */
  height: 9vh;
  padding: 1vh;
  border-bottom: 0.1em solid black;
  margin: 1%;
  background-color: #e6bbad;
}

.header-item {
  display: flex;
  flex-direction: column;
  width: 20%;
  transition: 0.2s all ease-in-out;
  overflow: hidden
}

.header-item > p {
  font-size: 20px;
}

.header-item:hover {
  background-color: #add8e6;
  transition: 0.2s all ease-in-out;
  transform: scale(1.1);
  /* https://css-tricks.com/almanac/properties/b/box-shadow/ */
  box-shadow: 0 10px 6px -6px #777;
}

.shadow:hover {
  box-shadow: #d8e6ad 5px 5px;
  transition: 0.2s all ease-in-out;
  transition-delay: 0.2s;
}

.header-item:hover grow{
  transform: scale(2)
}