body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #d8e6ad;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  /* Need to set viewport height calc to adjust header height size */
  height: 13vh;
  padding: 1vh;
  border-bottom: 0.1em solid black;
  margin: 1%;
  background-color: #e6bbad;
  border-radius: 5px;
  width: 50%;
}

.header-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  transition: 0.2s all ease-in-out;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 10px;
  padding-bottom: 30px;
}

.header-item:hover {
  background-color: #add8e6;
  transition: 0.2s all ease-in-out;
  transform: scale(1.1);
  /* https://css-tricks.com/almanac/properties/b/box-shadow/ */
  box-shadow: 0 10px 6px -6px #777;
}

.header-item > .header-text-container > h5 {
  font-size: 20px;
  margin-top: 20px;
  opacity: 0;
}

.header-item:hover > .header-text-container > h5 {
  opacity: 1;
  transition: 0.5s;
}

.main {
  padding-left: 40px;
  padding-right: 40px;
  width: 80%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-box, .right-box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.left-box {
  width: 35%;
}

.right-box {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.header-text-container {
  position: relative;
  top: 4px;
}

.gen-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  cursor: pointer;
  max-width: 18rem;
  transition: 0.4s all ease-in-out;
}

.react-link {
  text-decoration: none;
  color: #000;
}

.react-link:visited {
  text-decoration: none;
  color: #000
}

.project-header {
  display:flex;
  flex-direction: row;
  cursor: pointer;
  max-width: 30rem;
  transition: 0.4s all ease-in-out;
}

.carousel {
  display: flex;
  flex-direction: row;
  background-color: #777;
}

.carousel-btn {
  position: relative;
  top: 50%;
  cursor: pointer;
}

.gen-header:hover, .project-header:hover {
  background-color: #777
}

.topic-container {
  max-height: 300px;
  width: 300px;
  transition: 0.3s ease-in-out;
  margin: 5px;
}

.project-container {
  max-height: 500px;
  width: 35rem;
  transition: 0.3s ease-in-out;
}

.closed {
  /*??*/
  max-height: 55px;
  overflow: hidden;
}

.topic-container-icon {
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 4px;
}

.gen-list-item {
  background-color: #add8e6;
  /* width: 200px; */
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*possible slide in animation*/
.slide-right {
  position: relative;
  left: 40px;
  animation-name: slideIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 5s;
}

@keyframes slideIn {
  0% {
    left: 0px;
  }
  100% {
    left: 40px;
  }
}

#me-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-icon {
  position: relative;
  top: 10px;
  left: 20px;
}

.project-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.modal-image {
  cursor: zoom-in;
  overflow: hidden;
  border-radius: 19px;
  border: 1px solid black;
}

.modal-image-focused {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 1);
}

.modal-image-main {
  position: fixed;
  background: black;
  left: 50%;
  height: auto;
  top: 50%;
  transform: translate(-50%, -50%)
}

.zoom-out {
  cursor: zoom-out;
}

.modal-image-show {
  display: block;
}

.modal-image-hide {
  display: none;
}

.example-custom-css {
  background-color: #777;
}

/*
 *
 * modifying bootstrap defaults
 *
 */

.modal-body, .modal-footer, .modal-header {
  background-color: #666;
}

.modal-content {
  border-radius: 20px;
}

.card {
  border: 1px solid black;
  width: 18rem;
}
