body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #004466;

}

p, h1, h2, h3, h4, h5, h6, span, a {
  color: #bbdddd;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
}


.react-link {
  text-decoration: none;
  color: #000;
}

.react-link:visited {
  text-decoration: none;
  color: #000
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*possible slide in animation*/
.slide-right {
  position: relative;
  left: 40px;
  animation-name: slideIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 5s;
}

@keyframes slideIn {
  0% {
    left: 0px;
  }
  100% {
    left: 40px;
  }
}

/*
 *modifying bootstrap defaults
 */

.card {
  border: 1px solid black;
  margin-top: 10px;
}

.disabled {
  cursor: no-drop;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .navbar {
    justify-content: center;
  }
}

.nav-link {
  padding: 0;
}